@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 97px;
  padding-block: 136px 24px;
  width: 100%;

  @include small-laptop {
    padding: 133px 141px 122px 80px;
  }
}

.question {
  padding-inline: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 116%;
  text-align: center;

  @include tablet {
    padding-inline: 80px;
    font-size: 32px;
    text-align: start;
  }

  @include small-laptop {
    padding-inline: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;

  @include medium-laptop {
    display: grid;
    grid-template-columns: repeat(2, minmax(421px, 1fr)) ;
    row-gap: 32px;
  }
}

.button {
  $width: 288px;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  width: 100%;
  height: 56px;
  background-color: $White-100;
  font-size: 14px;
  line-height: 116%;
  outline: 1px solid $Black-40;
  color: $Black-100;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease; 

  @include tablet {
    font-size: 20px;
  }

  @include medium-laptop {
    $width: 389px;

    width: $width;
    height: 72px;
  }

  &:active {
    outline-color: $Orange-100;
    background-color: $Orange-5;
  }

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);;
  }
}

.correct {
  outline-color: $Green-100;
  background-color: $Green-5;
}

.wrong {
  outline-color: $Red-100;
  background-color: $Red-5;
}

.letterPrefix {
  margin-right: 8px;
  color: $Orange-100;
}