@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 97px;
  padding-block: 136px 24px;
  width: 100%;

  @include small-laptop {
    padding: 133px 141px 122px 80px;
  }

  @include large-screen {
    padding-inline: 200px;
  }
}

.question {
  padding-inline: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 116%;
  text-align: center;

  @include tablet {
    padding-inline: 80px;
    font-size: 32px;
    text-align: start;
  }

  @include small-laptop {
    padding-inline: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;

  @include medium-laptop {
    display: grid;
    grid-template-columns: repeat(2, minmax(421px, 1fr)) ;
    row-gap: 32px;
  }
}